@import "tailwindcss";

@theme {
  --color-primary: #1e90ff;
  --color-off-white: #f9f8fa;
  --color-red-accent: #fd0000;
  --color-text: #4a4a4a;
  --color-alt-bg: #f3f3f3;
  --color-footer-bg: #1a273a;

  /*  --color-accent: #D15EFF;
  --color-text: #4A4A4A;
  --color-muted: #707070;
  --color-black-bg: #111111;
  --color-button-bg:#E5E9EB; */
}

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Example: Use Oxanium for headers */
.title {
  font-family: var(--font-oxanium), sans-serif;
}

.quote {
  font-family: var(--font-inika), serif;
}
